# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/.idea/
android/*.iml
android/*.hprof
android/.cxx/
android/captures/

# Gradle
.gradle
*/build/
gradle-app.setting

# iOS / Xcode
*.xcuserstate
*.xcuserdatad/
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.swp
*~.nib
*.xcworkspace
!default.xcworkspace

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Firebase
.firebase/
firebase-debug.log

